---
import { SITE } from '../data/site';
---

<footer class="site-footer">
	<div class="site-footer__inner">
		<p>{SITE.name} is a personal developer journal by {SITE.author}.</p>
		<p>
			<a href="/rss.xml">RSS</a>
			<span aria-hidden="true"> / </span>
			<a href="/archive">Archive</a>
			<span aria-hidden="true"> / </span>
			<a href="/profile">Profile</a>
		</p>
	</div>
</footer>
